RSS_FEED_UPDATER.json
{
  "name": "RSS FEED UPDATER",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -480,
        -280
      ],
      "id": "b06c26e5-c161-4b8b-bf68-5ce442c6c74d",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "aggregate",
        "collection": "rss_articles",
        "query": "=[\n  { \"$sort\": { \"source\": 1, \"published_at\": -1 } },\n  {\n    \"$group\": {\n      \"_id\": \"$source\",\n      \"latestArticle\": { \"$first\": \"$$ROOT\" }\n    }\n  },\n  { \"$replaceRoot\": { \"newRoot\": \"$latestArticle\" } }\n]"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -200,
        -120
      ],
      "id": "78141d65-324f-4ec8-b1a3-4af6dfd43f47",
      "name": "MongoDB",
      "notesInFlow": false,
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "ie2EiIkmpouqpxTV",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "=5895061374\n",
        "text": "= {{$json[\"title\"]}} \n\n{{$json[\"summary\"]}} \n\n {{$json[\"link\"]}}\n",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        100,
        -280
      ],
      "id": "37623b72-c845-440d-b902-8b33ca262c62",
      "name": "Send a text message",
      "webhookId": "7d4f0ad3-39db-4cc8-a0bd-51da131a35e3",
      "alwaysOutputData": true,
      "credentials": {
        "telegramApi": {
          "id": "zg5rElcWjrdVf06g",
          "name": "Telegram account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "MongoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "41b6b1a5-fe09-41d0-97b3-d3bee27dde15",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2437fb5ff8408572cb1b18c0bec3297344895ffb59a70e45f797cee636e8aa34"
  },
  "id": "leHyOX4gWG2TjeVl",
  "tags": []
}